<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<h3>
Имя  <p th:text="${user.getName()}"></p>
Фамилия <p th:text="${user.getSurName()}"></p>
Возраст <p th:text="${user.getAge()}"></p>
Email <p th:text="${user.getEmail()}"></p>
Пароль <p th:text="${user.getPassword()}"></p>
ROLE <div th:each="role : ${user.getRole()}">
    <p th:text="${role.name}"></p>
</div>
</h3>


<a th:href="@{/admin/{id}/update(id=${user.getId()})}">Изменить</a>


<form action="/logout">
    <input type="submit" value="logout">
</form>


</body>
</html>